<div class="card feed-list-item" data-id="{{ feed.id }}">
	<div class="card-header">
		<div class="card-title h5">
			<a href="{{ item.link }}" rel="external">{{ item.title }}</a>
		</div>
		<div class="card-subtitle text-gray">
			Written {% if item.author %} by {{ item.author }}{% endif %} on {{ item.date }}
		</div>
	</div>
	<div class="card-body">
		{{ item.description|raw }}
		<a href="{{ item.link }}" rel="external">More...</a>
	</div>
</div>
