<form action="{{ path_for('feeds') }}" method="get">
	<section class="pv2 tc">
		<div class="{{ css.form_group }}">
			<label class="f4 clip {{ css.form_label }}" for="query">Search your feeds</label>
			<input class="f3 {{ css.form_input }}" name="query" type="text" id="query" placeholder="Search your feeds..." value="{{ query|default('') }}">
			<button class="{{ css.form_button_attached }}" type="submit"><i class="{{ css.icon_search }}"></i></button>
		</div>
		<p class="f5 {{ css.form_help }}">Search the names of your feeds</p>
	</section>
</div>