{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Delete feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds.delete', { 'id': feed.id } ) }}" method="post">
	<input type="hidden" name="id" value="{{ feed.id }}">
	<div class="row">
		<div class="column col-12">
			<h1>Delete feed</h1>
		</div>
	</div>

	<section class="pv2">
		<div class="row">
			<div class="column col-12">
				{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
			</div>
		</div>
	</section>

	<section class="">
		<div class="row">

			<div class="column col-12">
				<p class="f2">Are you sure you want to delete the '{{ feed.name }}' feed?</p>
				<div class="pv2">
					<a href="{{ path_for('feeds.edit', { 'id': feed.id } ) }}" class="{{ css.btn_outline_delete }}"><i class="{{ css.icon_back }}"></i>&nbsp;No, I want to go back</a>
					<button class="{{ css.btn_outline_delete }}" type="submit"><i class="{{ css.icon_delete }}"></i>&nbsp;Yes, delete this feed</button>
				</div>
			</div>

		</div>
	</section>

</form>
{% endblock %}
