{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Edit feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds.update', { 'id': feed.id }) }}" method="post">
	<div class="row">
		<div class="column col-12">
			<h1>Edit feed</h1>
		</div>
	</div>
	{% include '@feeds/form.twig' %}
	<div class="row">
		<div class="column col-12">
			<div class="form-btns">
				<a href="{{ path_for('feeds') }}" class="btn btn-outline"><i class="icon icon-back"></i>&nbsp;Go to home</a>
				<button class="btn btn-outline btn-success" type="submit"><i class="icon icon-upload"></i>&nbsp;Save feed</button>
				<a href="{{ path_for('feeds.delete', { 'id': feed.id }) }}" class="btn btn-outline btn-error btn-delete" data-id="{{ feed.id }}" data-name="{{ feed.name }}"><i class="icon icon-delete"></i>&nbsp;Delete feed</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}
