<section class="pv2">
	<div class="row">
		<div class="column col-12">
			{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
		</div>
	</div>
</section>

<section>
	<div class="row">

		<div class="column col-12">
			<div class="form-group">
				<label for="name" class="{{ css.form_label }}">Feed name</label>
				<input type="text" class="{{ css.form_input }}" id="name" name="name" placeholder="e.g. Awesome news feed" value="{{ feed.name }}">
				{% if errors.name is defined %}
				<p class="{{ css.form_help_error }}">{{ errors.name }}</p>
				{% else %}
				<p class="{{ css.form_help }}">Give this feed a name, or leave it blank and we'll use the official feed name</p>
				{% endif %}
			</div>
		</div>

		<div class="column col-12">
			{% if errors.url is defined %}
			<div class="form-group has-error">
			{% else %}
			<div class="form-group">
			{% endif %}
				<label for="url" class="{{ css.form_label }}">Feed location</label>
				<input type="text" class="{{ css.form_input }}" id="url" name="url" placeholder="https://feeds.awesome-news.com" value="{{ feed.url }}">
				{% if errors.url is defined %}
				<p class="{{ css.form_help_error }}">{{ errors.url }}</p>
				{% else %}
				<p class="{{ css.form_help }}">Paste the link to the feed here</p>
				{% endif %}
			</div>
		</div>

	</div>
</section>
