{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feed {{ feed.name }}</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<section class="section">
	<div class="row">
		<div class="column col-12">
			<h1>{{ feed.name }}</h1>
			<p class="lh-copy">{{ feed.description }}</p>
		</div>
		
		<section class="pv2">
			<div class="row">
				<div class="column col-12">
					{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
				</div>
			</div>
		</section>
		
		<div class="column col-12">
			<div class="mv1">
				<a href="{{ path_for('feeds') }}" class="{{ css.btn_outline }}"><i class="{{ css.icon_back }}"></i>&nbsp;Go to home</a>
				<a class="{{ css.btn_outline }}" href="{{ path_for('feeds.edit', { 'id': feed.id }) }}"><i class="{{ css.icon_edit }}"></i>&nbsp;Edit this feed</a>
			</div>
		</div>
	</div>
</section>
<section class="pv4">
	<div class="">
{% for item in feed.items %}
	{% include '@feeds/includes/feed-item.twig' %}
{% endfor %}
	</div>
</section>
{% endblock %}
