{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feed {{ feed.name }}</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<section class="section">
	<div class="row">
		<div class="column col-12">
			<h1>{{ feed.name }}</h1>
			<p>{{ feed.description }}</p>
		</div>
		
		<section class="section section-pad-vertical">
			<div class="row">
				<div class="column col-12">
					{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
				</div>
			</div>
		</section>
		
		<div class="column col-12">
			<div class="form-btns">
				<a href="{{ path_for('feeds') }}" class="btn btn-outline"><i class="icon icon-back"></i>&nbsp;Go to home</a>
				<a class="btn btn-default" href="{{ path_for('feeds.edit', { 'id': feed.id }) }}"><i class="icon icon-edit"></i>&nbsp;Edit this feed</a>
			</div>
		</div>
	</div>
</section>
<section class="section section-inset">
	<div class="feed-list">
{% for item in feed.items %}
	{% include '@feeds/includes/feed-item.twig' %}
{% endfor %}
	</div>
</section>
{% endblock %}
