{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feed {{ feed.name }}</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<section class="section">
	<div class="row">
		<div class="col-12">
			<h1>Feed {{ feed.name }}</h1>
			<p>{{ feed.description }}</p>
		</div>
		<div class="col-12">
			<div class="form-btns">
				<a class="btn btn-link" href="{{ path_for('feeds') }}">Go back to feeds</a>
				<a class="btn btn-default" href="{{ path_for('feeds.edit', { 'id': feed.id }) }}">Edit this feed</a>
			</div>
		</div>
	</div>
</section>
<section class="section section-inset">
{% for item in feed.items %}
	{% include '@feeds/includes/feed-item.twig' %}
{% endfor %}
</section>
{% endblock %}
